### compiled vhdl library
*.cf

### simulation outputs
*.ghw

### object files 
*.o 

### executable files 
*.exe 

### text files
*.lst 

### macOS metadata files
*.DS_Store

### simulation files from Verilator
obj_dir/

### Value Change Dump File
*.vcd
