### compiled vhdl library
*.cf

### simulation outputs
*.ghw

### object files 
*.o 

### executable files 
*.exe 

### text files
*.lst 

### macOS metadata files
*.DS_Store

### simulation files from Verilator
obj_dir/

### Value Change Dump File
*.vcd

*.cfg

*.ini

sv_port/sim/transcript
sv_port/sim/work/_info
sv_port/sim/work/_vmake
*.qdb
*.qtl
*.qpg


venv/

*.pyc

__pycache__/

*.xml

*.log

vhdl_impl/cocotb_tests/sim_build


